/*.swiper-slide{height:400px !important;}*/

/* Hide the Swiper slider initially */


.swiper {
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.s-title a{
color: #FFFFFF;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */

}
.product-details .add_to_cart_button {
    position: absolute !important;
    padding: 13px !important;
    font-size: 13px !important;
    border-radius: 10px;
    right: 10px;
    bottom: 45px;

    color: #ffff !important;
    text-transform: uppercase;
    text-decoration: none !important;
}

.product-details .added_to_cart {
    color: #000;
    text-decoration: none;
	font-weight:bold;
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 15px;
    text-transform: uppercase;
	 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}


.swiper-slide {
    /* width: 300px !important; */
    height: 400px!important;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}


.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {

    color: #2a2a2a; /* Set text color to white for better visibility on a grey background */
    /* You can also add other styling properties as needed */
}

.swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.9rem;
  
  
}

.swiper-slide--one span {
  background: #62667f;
}

.swiper-slide--two span {
  background: #087ac4;
}

.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
    font-weight: bold;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://images.unsplash.com/photo-1556206079-747a7a424d3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80)
      no-repeat 50% 50% / cover;
}



.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}